* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Spectral", serif;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}

@media only screen and (max-width: 700px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav h4 {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  font-family: "Aguafina Script", cursive;
  font-size: 3rem;
}

nav ul {
  -ms-flex-preferred-size: 50rem;
      flex-basis: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  nav ul {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

nav ul li {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  nav ul li {
    padding-left: 2rem;
  }
}

nav ul .underline {
  width: 0px;
  height: 0.5px;
  background-color: black;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  overflow: hidden;
}

#home .left-panel,
#home .right-panel {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

#home .left-panel img,
#home .right-panel img {
  width: 100%;
  -webkit-filter: grayscale(1) brightness(0.4);
          filter: grayscale(1) brightness(0.4);
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .left-panel .active,
#home .right-panel .active {
  -webkit-filter: grayscale(0) brightness(0.7);
          filter: grayscale(0) brightness(0.7);
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
  pointer-events: none;
  text-align: center;
}

.header h1 {
  opacity: 0;
}

.header h4 {
  opacity: 0;
}

.header svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  opacity: 0;
  text-shadow: 2px 2px 2px black;
}

#about {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #16222a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0f0c29), to(#353172));
  background: linear-gradient(to bottom, #0f0c29, #353172);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#about .slideshow_container {
  width: 100%;
  height: 40vh;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .slideshow_container .img_container {
  width: 50%;
  text-align: center;
}

#about .slideshow_container .img_container img {
  max-width: 100%;
  max-height: 50vh;
}

#about .cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55vh;
}

@media only screen and (max-width: 700px) {
  #about .cards_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}

#about .cards_container .card {
  width: 24%;
  height: 70%;
  background-color: #292929;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 700px) {
  #about .cards_container .card {
    width: 90%;
    min-height: 25%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  #about .cards_container .card {
    font-size: 0.8rem;
  }
}

#about .cards_container .card i {
  font-size: 3rem;
}

#about .cards_container .card .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cb5e0), to(#000046));
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#about .cards_container .card .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cb5e0), to(#000046));
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#about .cards_container .card .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #00f260;
  /* fallback for old browsers */
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cb5e0), to(#000046));
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#about .cards_container .card .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #00f260;
  /* fallback for old browsers */
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cb5e0), to(#000046));
  background: linear-gradient(to right, #1cb5e0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.gallery_window {
  width: 100%;
  height: 90vh;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .gallery_window {
    height: 80vh;
  }
}

@media only screen and (max-width: 700px) {
  .gallery_window {
    height: 50vh;
  }
}

.gallery_window .gallery {
  height: 100%;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #0f0c29;
  background: -webkit-gradient(linear, left top, right top, from(#24243e), color-stop(#5046c7), to(#0f0c29));
  background: linear-gradient(to right, #24243e, #5046c7, #0f0c29);
}

.gallery_window .gallery .slide {
  height: 70%;
  width: 9%;
  background-color: black;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  pointer-events: none;
}

.gallery_window .gallery .slide .slide_image_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.gallery_window .gallery .slide .slide_image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: all;
}

.gallery_window .gallery .slide .slide_image_container .top_cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  background-color: black;
  pointer-events: auto;
}

.gallery_window .gallery .slide .slide_image_container .top_cover:hover {
  pointer-events: none;
}

.gallery_window .gallery .slide .slide_image_container .bottom_cover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  background-color: black;
  pointer-events: auto;
}

.gallery_window .gallery .slide .slide_image_container .bottom_cover:hover {
  pointer-events: none;
}

.gallery_window .arrow {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  opacity: 0.9;
  cursor: pointer;
}

.gallery_window .arrow :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.gallery_window .left {
  left: 1rem;
}

.gallery_window .right {
  right: 1rem;
}

.gallery_window .fullScrImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  pointer-events: none;
}

.gallery_window .fullScrImg img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  margin-top: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#contact {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  #contact {
    width: 95%;
  }
}

#contact h2 {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#contact form input,
#contact form textarea,
#contact form button {
  width: 90%;
  padding: 3px 4px 3px 4px;
  margin-bottom: 10px;
  font-family: "Spectral", serif;
  font-size: 1.5rem;
}

#contact form input:focus,
#contact form textarea:focus,
#contact form button:focus {
  background-color: lightgrey;
}

#contact form button {
  height: 3rem;
  font-size: 1.5rem;
  background-color: #000046;
  color: white;
  border-radius: 5px;
  font-family: "Spectral", serif;
}

#contact form button:hover {
  background-color: #09203f;
}

#contact form button:active {
  background-color: #000046;
  -webkit-box-shadow: 1px 1px 2px white;
          box-shadow: 1px 1px 2px white;
}

#contact #close_form {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 4vh;
  padding-left: 20px;
  padding-right: 20px;
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
}

footer a {
  color: white;
  text-shadow: 1px 1px 0px black;
}
/*# sourceMappingURL=style.css.map */